/* Style the body*/
body {
  background-color: #d8ef56;
}

.navbar {
  margin-bottom: 20px;
}
/* Style Pokemon Card */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 10px;
}

.loading-message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-body img {
  width: 100%;
  height: auto;
}

.modal-body p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.modal-body .row {
  margin-top: 15px;
}


/* Style for the search form */
.navbar .form-inline .form-control {
  width: 200px;
}

.navbar .form-inline .btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.navbar .form-inline .btn-outline-light:hover {
  color: #000;
  background-color: #ffdd57;
  border-color: #ffdd57;
}


.navbar-brand {
  font-weight: bold; 
}

.navbar-expand-lg .navbar-brand  {
  color: #ffdd57;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffdd57;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

/* style media Query to fit all screen sizes */
@media (min-width: 992px) {
  .navbar .form-inline {
    margin-left: auto;
  }
}

@media (max-width: 991.98px) {
  .navbar .form-inline {
    margin-bottom: 10px;
  }
  .navbar .form-inline .form-control {
    width: 100%;
    margin-bottom: 5px;
  }
  .navbar .form-inline .btn {
    width: 100%;
  }
}



